@model int
<div class="container row">
    <div class="col-12 text-center">
        <img class="mt-4" style="width:100px; height:100px;" src="~/images/payment_success.png" />
        <h1 class="text-primary text-center">Thank you for your payment!</h1>
        Your Order Number is : @Model <br /><br />
        </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed successfully! <br />
        <a asp-controller="Home" asp-action="Index" style="width:200px;" class="btn btn-success form-control">Back to Home Page</a>
        
    </div>
</div> 

