<div class="containter p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-priamry">T-Shirt Size List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-circle"></i> &nbsp Create New Size</a>
        </div>
    </div>
    <br />
    <br />

<table id="tblData" class="table table-table-bordered table-striped" style="width: 100%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Size</th>
      <th>Action</th>
    </tr>
  </thead>
 
</table>
</div>

@section Scripts{
    <script src="~/js/size.js"></script>
}
