@model eShop.Models.ViewModels.TshirtVM
@{
    ViewData["Title"] = "Create";
}
<form method="post" asp-action="Upsert" enctype="multipart/form-data">
   <input asp-for="Tshirt.Id" hidden/>
   <input asp-for="Tshirt.ImageUrl" hidden/>
   <div class="row">
        <div class="col-10">
<div class="border p-3 mt-4 row">    
            <h2 class="text-priamry">@(Model.Tshirt.Id!=0?"Update":"Create") T-shirt</h2>

        
<div class="mb-3">    
  <label asp-for="Tshirt.Name" ></label>
  <input asp-for="Tshirt.Name" class="form-control">
  <span asp-validation-for="Tshirt.Name" class="text-danger"></span>
</div>

<div class="mb-3">    
  <label asp-for="Tshirt.Description" ></label>
  <textarea asp-for="Tshirt.Description" class="form-control"></textarea>
  <span asp-validation-for="Tshirt.Description" class="text-danger"></span>
</div>
<div class="mb-3">    
  <label asp-for="Tshirt.ListPrice" ></label>
  <input asp-for="Tshirt.ListPrice" class="form-control">
  <span asp-validation-for="Tshirt.ListPrice" class="text-danger"></span>
</div>
<div class="mb-3">    
  <label asp-for="Tshirt.Price" ></label>
  <input asp-for="Tshirt.Price" class="form-control">
  <span asp-validation-for="Tshirt.Price" class="text-danger"></span>
</div>
<div class="mb-3">    
  <label asp-for="Tshirt.Price50" ></label>
  <input asp-for="Tshirt.Price50" class="form-control">
  <span asp-validation-for="Tshirt.Price50" class="text-danger"></span>
</div>
<div class="mb-3">    
  <label asp-for="Tshirt.ProductCode" ></label>
  <input asp-for="Tshirt.ProductCode" class="form-control">
  <span asp-validation-for="Tshirt.ProductCode" class="text-danger"></span>
</div>
  <div class="mb-3">    
  <label asp-for="Tshirt.SizeId" ></label>
  <select asp-for="Tshirt.SizeId" asp-items="@Model.SizeList" class="form-select">
      <option disabled selected>--Select Size--</option>
  </select>
  
  </div>
  
<div id="urlinputs" class="mb-3 col-6">
  <label asp-for="Tshirt.ImageUrl" ></label>
  <input type="file"  name="file" asp-for="Tshirt.ImageUrl" id="uploadBox" class="mb-2 form-control">
</div>

<div id="colorinputs" class="mb-3 col-6">
    <label asp-for="TshirtImages.Color" ></label>
    <input asp-for="TshirtImages.Color" class="mb-2 form-control"></input>
    <span asp-validation-for="TshirtImages.Color" class="text-danger"></span>
</div>


    @if(Model.Tshirt.Id!=0){
                <button type="submit" class="mt-5 mr-2 btn btn-primary" style="width:150px;">Update</button>
            }else
            {
                <input type="button" class="mt-5 btn btn-primary" style="margin-right:5px; width:250px;" onclick="AddNewImageUrlInput()" value="Add more T-shirt Images" id="add" />
                <button type="submit" onclick="return ValidateInput()" class="mt-5 btn btn-primary" style="margin-right:5px; width:150px;">Create</button>
            }
            <a asp-controller="Tshirt" asp-action="Index" class="mt-5 btn btn-dark btn-primary " style="width:150px;">Back to list</a>
        </div>
        
        <img src="" />
    </div>
    </div>
    
    

</form>

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />
    }
    <script>
    
       function ValidateInput(){
        if(document.getElementById("uploadBox").value==""){
            Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Please upload an Image!',
            });
            return false;
        }
         return true;
    }</script>
    <script>
        function AddNewImageUrlInput()
        {           
              let div = document.createElement('input');
              let color = document.createElement('input');
              let firstUpload = document.getElementById("urlinputs");
              let firstColor = document.getElementById("colorinputs")
              div.setAttribute("type","file");
              div.setAttribute("name","file");
              div.setAttribute("asp-for","Tshirt.ImageUrl");
              div.setAttribute("class","mb-2 form-control");
              color.setAttribute("class","mb-2 form-control")
              firstUpload.appendChild(div);
              firstColor.appendChild(color);
        }    
    </script>
   
    }